<ion-header>
  <ion-toolbar>
    <ion-title>pagina2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Segunda página
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="home">
        <ion-icon name="triangle"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="pagina2">
        <ion-icon name="ellipse"></ion-icon>
        <ion-label>Página 2</ion-label>
      </ion-tab-button>

    </ion-tab-bar>   
  </ion-tabs>
</ion-toolbar>

